/* Nav bar */

nav {
    background-color: #222f3f;
}

nav .row {
    height: 50px;
}


/* Jumbo */

.jumbotron {
    background-color: #43b18a;
    height:500px ;
}

.red {
    height: 400px;
    background-color: red;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-top: 60px;
}
