/* General */
 h2 {
     text-align: center;
 }

 h4 {
    text-align: center;
 }

/* Nav bar */

nav {
    background-color: #222f3f;
    height: 100px;
}



/* Jumbo */

.jumbotron {
    background-color: #43b18a;
}

.avatar img{
    width: 100%;
}

.avatar {
    max-width: 250px;
    margin: 35px auto;
}

.title {
    color:white;
    font-size: 2rem;
}

.star {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    max-width: 150px;
}
.star i {
    font-size: 28px;
    color: white;
    margin: 0 10px;
}

.star-line {
    height: 4px;
    width: 140px;
    background-color:white;
}

.skills {
    margin-bottom: 40px;
}

.skills ul{
    padding: 0;
}
 .skills ul li {
     display: inline-block;
 }

 .skills ul li a {
     text-decoration: none;
     color: white;
 }


/* MEDIA QUERY Jumbo */
@media (min-width: 768px){
    .star {
        max-width: 270px;
    }

    .title {
        font-size: 3rem;
    }

    .skills ul li a {
        font-size: 1.4rem;
    }
}

@media (min-width:992px){
    .star {
         max-width: 350px; 
    }

    .title {
        font-size: 3.2rem;
    }
 
}

/* Portfolio */
.my-img img {
    width: 100%;
    border-radius: 10px;
}
.my-img {
    margin-bottom: 20px;
    margin-top: 20px;
} 

.portfolio {
    margin-top: 60px;
    margin-bottom: 60px;
}

.portfolio .star i {
    color :black;
}

.portfolio .star-line {
    background-color: black;
}

/* MEDIA QUERY Portfolio */
@media (min-width: 768px) {
    h2 {
        font-size: 2.8rem;
    }

}


/* About */
.about {
    background-color: #43b18a;
}

.about h2 {
    color: white;
    margin-top: 60px;
}

.about p {
    color:white;
    font-size: 1.2rem;
}

.about .star {
    margin-bottom: 20px;
}

.my-btn {
    text-align: center;
}

button {
    color:white;
    background-color: #3fa577;
    border-radius: 10px;
    border:1px solid white;
    padding: 10px 20px;
    margin-bottom: 60px;
    margin-top: 20px;
}

/* Contact */
.contact {
    background-color: rgb(236, 227, 227);
}

.contact h2 {
    margin-top: 70px;
}

.contact .star i {
    color:black;
}

.contact .star-line {
   background-color:black;
}

/* Footer */
footer {
    background-color: #2d425a;
}

.copyright {
    height: 100px;
    background-color: darkblue;
}

footer p {
    text-align: center;
    color: white;
}

footer h4 {
    color:white;
    margin-top: 40px;
}

.social {
    display: flex;
    justify-content: center;
}

.my-icon-container i{
    border-radius: 50%;
    color: white;
  
    
} 

.social i { 
    padding: 14px 11px;
    font-size: 15px;
}

.my-icon-container {
    margin: 5px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

footer span.green {
    color:#1fb18a;
}

footer .copyright {
    color:white;
    text-align: center;
    line-height: 100px;
}
